@model IEnumerable<Day_06.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" class="form-group my-3">
    <label class="control-label">Customers</label>
    <select name="id" class="form-control" asp-items="@ViewBag.Customers"></select>
    <button class="btn btn-outline-info my-2">Search</button>
</form>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Customer" asp-route-id="@item.Customer.ID">
                    @item.Customer.Email
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-success btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-info btn-sm">Details</a>
                <form asp-action="Delete" class="d-inline">
                    <input type="hidden" name="id" value="@item.ID" />
                    <button class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
